<!DOCTYPE html>
<html>

<header>
    <title>LearnComplexity.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous"
    />
    <link rel="icon" type="image/ico" href="/favicon.ico"/>
</header>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">LearnComplexity.io</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
      
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link active" href="/about">About <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/learn">What is complexity?</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/problems">Challenge yourself!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/earn">Earn BTC/ETC</a>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="jumbotron text-center">
<h1>Welcome to LearnComplexity.io&nbsp;🚀</h1>
<br >
<p>This is an open-source web app for teaching algorithmic time complexity to the novice computer scientist. Even the best don't fully understand this topic.
    Spend a few minutes and try to see where you stand - or perhaps, satisfy your computer science curiosity!
</p>
<br >
<div class='container center'> 
    <button class="btn btn-outline-primary" onclick="window.location='/learn'">What is complexity?</button>
</div>
</div>

<br >

</body>
</html>