<!DOCTYPE html>
<html>
    <header>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </header>
<body>
<div class="container">
	<div>
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#e9342e">Wrong Answer</h2>
        <h3>Ooopse ~ 😏</h3>
        <br >
        <p style="font-size:20px;color:#5C5C5C;">Hello, my friend! You have a few incorrect answers.<br>Please go back and change your answers.</p>
        <br >
        <button onclick="history.back()" class="btn btn-outline-primary">Go Back</button>
    <br><br>
        </div>
	</div>
</div>

</body>
</html>