<!DOCTYPE html>
<html>
<body>

<header>
    <title>LearnComplexity.io</title>
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous"
    />
</header>

<div class="jumbotron text-center">
<h1>Welcome to LearnComplexity.io</h1>
<p>🔥 Use the following quiz to brush up on your time complexity skills 🔥</p>
<br>
<form>
    <input class="btn btn-primary" type="button" onClick="history.go(0)" value="Create New Quiz">
</form>
</div>

<br>
<div class="container">
<form action='/quiz' method='POST'>
    <ol>
        {% for i in q %}
            <b><li></li></b>
            <pre>
                <img src='{{i}}' alt="...">
            </pre>
            {% for j in o[i] %}
            <pre>
                <input type='radio' value='{{j}}' name='{{i}}' />{{" " + j}}
            </pre>
            {% endfor %}
        {% endfor %}
    </ol>
    <br>
    <div class='container text-center'> 
    <input class="btn btn-primary" type="submit" value="Submit"/>
    </div>
</form>
</div>

<br>
<br>
<div class="container text-center">
    <h5>Developed with ❤️ by <a target="_blank" href="https://www.linkedin.com/in/kamranwithak/">Kamran Choudhry</a></h5>
</div>

</body>
</html>