<!DOCTYPE html>
<html>
<body>

<header>
    <title>LearnComplexity.io</title>
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous"
    />
</header>

<div class="jumbotron text-center">
<h1>Welcome to LearnComplexity.io</h1>
<p>🔥 Use the following quiz to brush up on your time complexity skills 🔥</p>
<br>
<FORM>
    <INPUT TYPE="button" onClick="history.go(0)" VALUE="Generate New Questions">
</FORM>
</div>
<form action='/quiz' method='POST'>
    <ol>
        {% for i in q %}
            <b><li></li></b>
            <pre>
                <img src='{{i}}' alt="Girl in a jacket">
            </pre>
            {% for j in o[i] %}
            <pre>
                <input type='radio' value='{{j}}' name='{{i}}' />{{j}}
            </pre>
            {% endfor %}
        {% endfor %}
    </ol>
    <br> 
    <input type="submit" value="Submit" />
</form>

<br> 
<h1>Developed with ❤️ by Kamran Choudhry</h1>

</body>
</html>