<!DOCTYPE html>
<html>
<body>

<header>
    <title>LearnComplexity.io</title>
</header>

<h1>Welcome to LearnComplexity.io</h1>
<FORM>
    <INPUT TYPE="button" onClick="history.go(0)" VALUE="Generate New Questions">
</FORM>
<br>
<p>Use the following quiz to brush up on your time complexity skills:</p>
<br>
<form action='/quiz' method='POST'>
    <ol>
        {% for i in q %}
            <b><li></li></b>
            <pre>
                <img src='{{i}}' alt="Girl in a jacket">
            </pre>
            {% for j in o[i] %}
            <pre>
                <input type='radio' value='{{j}}' name='{{i}}' />{{j}}
            </pre>
            {% endfor %}
        {% endfor %}
    </ol>
    <br> 
    <input type="submit" value="Submit" />
</form>

<br> 
<h1>Developed with ❤️ by Kamran Choudhry</h1>

</body>
</html>