<!DOCTYPE html>
<html>
    <header>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </header>
<body>
<div class="container">
	<div>
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#0fad00">Success</h2>
        <h3>Keep up the great work ~ 🚀</h3>
        <br >
        <p style="font-size:20px;color:#5C5C5C;">Hello, my friend! All your answers are correct.<br>Click the following button to create a new quiz!</p>
        <br >
        <button onclick="window.location='/problems-page'" class="btn btn-outline-success">Create New Quiz</button>
    <br><br>
        </div>
	</div>
</div>

</body>
</html>